body {
    background-color: rgb(245, 147, 0);
    padding: 20px;
    margin: 0;
}

h1, h2, p {
    font-family: monospace Ubuntu;
    display: inline-block;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    list-style-type: none;
    margin: 0;
    text-align: left;
}

div.menu-bar p {
    display: inline;
    list-style-type: none;
    margin: 0;
    align-items: end;
}
div.menu-bar {
    background-color: #111;
    padding: 0;
    flex-direction: row;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.menu-bar p a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: rgba(225, 225, 225, 225);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
